<div id="main-img"></div>

<section id="post-section">
	<%= render partial: "posttease", collection: @posts.reverse %>

	<% if logged_in? %>
	  <%= link_to 'New Post', new_post_path %>
	<% end %>
</section>

