.header, footer {
	background-color: #FF3399;
	color: white;
	padding: 5px;
	margin: 10px 0px;
	text-align: center;

	a {
	  color: white;
	  &:visited {
	    color: white;
	  }
	  &:hover {
	    color: red;
	    background-color: #FF3399;
	  }
	}

	.title {
		display: block;
		margin: 20px;
		a {
			text-decoration: none;
  			font-size: 28px;
		}
	}
}

.menu-item {
	display: inline;
}