#main {
	font-size: 16px;
  font-family: 'Raleway', sans-serif;

	h2 {
		margin: 0px;
	  padding: 5px 0px;
    font-size: 24px;

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
        color: black;
			}
		}
	}
}

#main-img {
  background-image: url('flags.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  margin: 5px auto;
}

#post-section, .yellow {
  background-color: #FFFFB2;
  padding: 5px 10px;
  margin: 5px 0px;
}

#comment-section {
  background-color: #FFCCCC;
  padding: 5px 10px;
  margin: 5px 0px;
  font-size: 14px;
}

.post-images {
  margin: 30px auto;
  text-align: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  img {
    max-width: 100%;
    height: 100%;
  }
}

.all-images {
  margin: 30px auto;
  text-align: center;

  img {
    width: 100%;
  }
}

 .link-button, a {
 	 -moz-user-select: text;
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit; 
     cursor: pointer;
     text-decoration: underline;
     color: #000;
     &:hover {
     	color: red;
     }
}

.link-block, .button_to, .button_to div {
  display: inline;
}

.flash, #error_explanation {
  padding: 5px;
  margin: 5px;
  border: solid;
  font-size: 16px;
  text-align: center;
}

.input-thing {
  margin: 10px 0px;
  label {
    width: 110px;
    float: left;
  }
}
