<nav class="header">
  <h1 class="title">
    <%= link_to 'Tessa in Hatfield', root_path %>
  </h1>
  <section>
    <ul>
      <li class="menu-item">
        <%= link_to 'Github', 'https://github.com/reInteractive-open' %> | 
      </li>
      <li class="menu-item">
        <%= link_to 'Twitter', 'https://twitter.com/' %>
      </li> | 

      <li class="menu-item">
        <%= link_to 'About me', '/about' %>
      </li>
    </ul>
  </section>
</nav>